# Git files
.github/
.git
.gitignore
.gitattributes

# Logs and cache
Logs/
RotatedLogs/
Cache/
*.zip

# Dev
config/
tests/
images/
.env*

# Configuration example (not the actual config)
MyPersonalConfig.json

# Docker files (not needed in the image)
docker-compose.*

# Documentation
*.md
LICENSE
Release.txt
ReleaseModule.txt
