/images
*.gif
*.jpg
*.xlsm
*.otf
*.db

#
.env
.env.dev

__pycache__
.vscode
coverage.*

# mounted volumes
config/
4k.png
config.json
posteroverlay_0.7.png
/Logs
/magick
/RotatedLogs
/temp
scheduler.json
/test
/UILogs
/assets
/uploads
/Overlayfiles
/webui tests-infos
/devUtils
